<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{css_path}}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
                integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
                integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
                crossorigin="anonymous"></script>
        <title> МОЯ Зайка </title>
    </head>
    <body>
    <h1> Научно-исследовательская работа “Предел обнимашкам :(” </h1>
    <h2> Что сподвигло: </h2>
    <p>Во время обнимашек с Владиславом мне стало интересно, можно ли задушить обнималками и какую силу для этого нужно приложить.</p>
    <h2> Задачи: </h2>
    <ol>
        <li>
            Задушить Лерочку обнимашками.
        </li>
        <li>
            Измерить силу удушения в сердечках (по десятибалльной шкале).
        </li>
    </ol>
    <h2> Цель: </h2>
    <p> Узнать, какую силу нужно приложить, чтобы задушить объятиями.</p>

    <h2>Проблемы:</h2>
    <p> Проблем нет :3. </p>

    <h2>Объект исследования: </h2>
    <p>Валерия♥. </p>

    <h2>Гипотеза:</h2>
    <p> обнимашками можно задушить человека.</p>

    <h2>Ход исследования: </h2>
        <h4>Обнимафки:</h4>
    <p> начиная с 7 сердечек у Лерочки начинается удушение, с 9 становится невозможно дышать. </p>

    <h2> Вывод: </h2>
    <p>Лерочку можно задушить абнималками.</p>
    </body>
</html>